.notification_icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.menu_icon {
    width: 25px;
    height: 25px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
    background-color: #fafafaac;
    font-size: 35px;
}

.icon_buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    margin-right: 5px;
}

.btn-log-out {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #0071f0;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn-log-out:focus,
.btn-log-out:hover {
    background-color: rgba(0, 113, 240, 0.7);
}